<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div text-center>
      <img src="../../assets/iGo.png">
    </div>
    <ion-card>
      <ion-card-content>
        <p>
          O Objetivo deste jogo é aprender inglê, brincando. Quanto mais você joga, maior o seu vocabulário na língua
          inglesa.
        </p>
        <p>
          Este jogo é indicado para qualquer pessoa, de qualquer idade.
        </p>
        <p>
          Você terá 5 segundos para escolher imagem correspondente à palavra. Caso acerte, aumenta seu 'Score'. Quanto
          maior
          seu 'Score' maiores suas chances de subir de nível.
        </p>
        <p>
          Além disso, você pode compartilhar seu nível nas redes sociais e desafiar seus amigos à jogarem também.
        </p>
        <h3 class="text-center">Let's Go!</h3>
      </ion-card-content>

    </ion-card>
  </div>
</ion-content>