ion-ripple-effect {
  background-color: #f3de3b;
  color: #6c1da5;
}

.logo {
  margin: 3em;
}

a {
  font-weight: 600;
}

.footer {
  position: absolute;
  width: 90%;
  bottom: 20px;
  left: 20px;
  text-align: center;
}